{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!--[if lte IE 9]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
    </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand logo" href="index.html">
                                <img class="logo1" src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/logo/logo.svg') }}" alt="Logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="active" href="index.html">Home</a></li>
                                    <li class="nav-item">
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li class="nav-item"><a href="#">Services</a></li>
                                    <li class="nav-item"><a href="#">Portfolio</a> </li>
                                    <li class="nav-item"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a href="#">Blog</a></li>
                                    <li class="nav-item"><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- navbar collapse -->
                            <div class="button">
                                <a href="contact.html" class="btn">Get it now</a>
                            </div>
                        </nav>
                        <!-- navbar -->

                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- navbar area -->
    </header>
    <!-- End Header Area -->

    <!-- Start Hero Area -->
    <section class="hero-area">
        <!-- Single Slider -->
        <div class="hero-inner">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 co-12">
                        <div class="home-slider">
                            <div class="hero-text">
                                <h1 class="wow fadeInUp" data-wow-delay=".3">Take your business to next level.</h1>
                                <p class="wow fadeInUp" data-wow-delay=".5s">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                                    <br>dummy text ever since.</p>
                                <div class="button wow fadeInUp" data-wow-delay=".7s">
                                    <a href="about-us.html" class="btn">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Hero Area -->

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Core Features</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Provide Awesome Service With Our Tools</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <img class="service-patern wow fadeInLeft" data-wow-delay=".5s"
                     src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/service/service-patern.png') }}" alt="#">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <h3><a href="service-single.html">Discover, Explore the Product</a></h3>
                            <div class="icon">
                                <i class="lni lni-microscope"></i>
                            </div>
                            <p>Discover, Explore & Understanding The Product</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                            <h3><a href="service-single.html">Art Direction & Brand Strategy</a></h3>
                            <div class="icon">
                                <i class="lni lni-blackboard"></i>
                            </div>
                            <p>Art Direction & Brand Communication</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <h3><a href="service-single.html">Product UX, Design & Development‎‎</a></h3>
                            <div class="icon">
                                <i class="lni lni-ux"></i>
                            </div>
                            <p>Digital Product UX, Design & Development</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".8s">
                            <h3><a href="service-single.html">Marketing Strategy & SEO Campaigns</a></h3>
                            <div class="icon">
                                <i class="lni lni-graph"></i>
                            </div>
                            <p>Marketing Strategy & SEO Campaigns</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Services Area -->

    <!-- Start About Us Area -->
    <section class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="about-left">
                        <div class="section-title align-left">
                            <span class="wow fadeInDown" data-wow-delay=".2s">What we do</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Websites that tell your brand's story</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">We're a digital product and UX agency Strategy,
                                design
                                and development across all platforms.</p>
                        </div>
                        <div class="about-tab wow fadeInUp" data-wow-delay=".4s">
                            <!-- Nav Tab  -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#t-tab1"
                                                        role="tab">Content</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab2"
                                                        role="tab">Strategy</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab3"
                                                        role="tab">Development</a></li>
                            </ul>
                            <!--/ End Nav Tab -->
                            <div class="tab-content" id="myTabContent">
                                <!-- Tab 1 -->
                                <div class="tab-pane fade show active" id="t-tab1" role="tabpanel">
                                    <div class="tab-content">
                                        <p>Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla .Nemo en
                                            ipsam voluptatem quia voluptas sit asper.</p>
                                        <ul>
                                            <li><i class="lni lni-checkmark-circle"></i> Commitment to excelence</li>
                                            <li><i class="lni lni-checkmark-circle"></i> Clients are our partners</li>
                                            <li><i class="lni lni-checkmark-circle"></i> Fun is an absolute must</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ End Tab 1 -->
                                <!-- Tab 2 -->
                                <div class="tab-pane fade" id="t-tab2" role="tabpanel">
                                    <div class="tab-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing ,
                                            sed do eiusmod tempor incididunt ut labore et dolore.
                                            Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.</p>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla .Nemo en
                                            ipsam voluptatem quia voluptas sit asper.</p>

                                    </div>
                                </div>
                                <!--/ End Tab 2 -->
                                <!-- Tab 3 -->
                                <div class="tab-pane fade" id="t-tab3" role="tabpanel">
                                    <div class="tab-content">
                                        <p>Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla .Nemo en
                                            ipsam voluptatem quia voluptas sit asper.</p>
                                        <ul>
                                            <li><i class="lni lni-checkmark-circle"></i> Commitment to excelence</li>
                                            <li><i class="lni lni-checkmark-circle"></i> Clients are our partners</li>
                                            <li><i class="lni lni-checkmark-circle"></i> Fun is an absolute must</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ End Tab 3 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-right wow fadeInRight" data-wow-delay=".4s">
                        <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/about/about-img.png') }}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End About Us Area -->

    <!-- Start Intro Video Area -->
    <section class="intro-video-area overlay section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title white-text">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Create your own experience</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Ready to grow faster?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-video-play">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-12">
                                <div class="play-thumb wow zoomIn" data-wow-delay=".2s">
                                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                                       class="glightbox video"><i class="lni lni-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>
    </section>
    <!-- End Intro Video Area -->

    <!-- Start Pricing Table Area -->
    <section class="pricing-table section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Pricing Table</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Pricing Plan</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Single use</h4>
                            <div class="price">
                                <p class="amount">$10<span class="duration">per month</span></p>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>Up to 5 users</li>
                            <li>Basic support on Github</li>
                            <li>Monthly updates</li>
                            <li>Free cancelation</li>
                        </ul>
                        <!-- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button">
                            <a class="btn" href="#">Start free trial</a>
                        </div>
                        <!-- End Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Multiple use</h4>
                            <div class="price">
                                <p class="amount">$20<span class="duration">per month</span></p>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>Up to 10 users</li>
                            <li>Basic support on Github</li>
                            <li>Monthly updates</li>
                            <li>Free cancelation</li>
                        </ul>
                        <!-- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button">
                            <a class="btn" href="#">Start free trial</a>
                        </div>
                        <!-- End Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Extended use</h4>
                            <div class="price">
                                <p class="amount">$30<span class="duration">per month</span></p>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>Up to 20 users</li>
                            <li>Basic support on Github</li>
                            <li>Monthly updates</li>
                            <li>Free cancelation</li>
                        </ul>
                        <!-- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button">
                            <a class="btn" href="#">Start free trial</a>
                        </div>
                        <!-- End Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Pricing Table Area -->

    <section class="section free-version-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Massive Free Lite</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Currently You are using free <br>lite version of Massive</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Please, purchase full version of the template to get all pages,<br> features and commercial license.</p>

                        <div class="button">
                            <a href="#" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Latest News Area -->
    <div class="latest-news-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">latest news</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Latest News & Blog</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="thumb" src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/blog/blog-grid1.jpg') }}" alt="#">
                            <div class="meta-details">
                                <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/blog/author.jpg') }}" alt="#"> <span>BY TIM NORTON</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">Make your team a Design driven
                                    company</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".4s">
                        <div class="image">
                            <img class="thumb" src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/blog/blog-grid2.jpg') }}" alt="#">
                            <div class="meta-details">
                                <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/blog/author.jpg') }}" alt="#"> <span>BY TIM NORTON</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">The newest web framework that changed
                                    the world</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".6s">
                        <div class="image">
                            <img class="thumb" src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/blog/blog-grid3.jpg') }}" alt="#">
                            <div class="meta-details">
                                <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/blog/author.jpg') }}" alt="#"> <span>BY TIM NORTON</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">5 ways to improve user retention for
                                    your startup</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Latest News Area -->

    <!-- Start Newsletter Area -->
    <section class="newsletter-area section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-text wow fadeInLeft" data-wow-delay=".2s">
                        <h6>Sign up for Newsletter</h6>
                        <p class="">Sign Up and start using a free account <br> to see what it's all about.</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" class="common-input"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                   required="" type="email">
                            <div class="button">
                                <button class="btn">Subscribe Now!</button>
                            </div>
                        </form>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
                <div class="col-lg-4 col-12">
                    <div class="mini-call-action wow fadeInRight" data-wow-delay=".4s">
                        <h4>Do you want to grow your online business with Massive?</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="button">
                            <a href="#" class="btn">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Newsletter Area -->

    <!-- Start Brand Area -->
    <div class="brand-area section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="section-title align-left wow fadeInLeft" data-wow-delay=".2s">
                        <span>Our Awesome Clients</span>
                        <h2>We built Best solutions for your company</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="brand-logo-wrapper wow fadeInRight" data-wow-delay=".4s">
                        <ul class="brand-list liststyle d-flex flex-wrap justify-content-center">
                            <li><a href="#">
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/clients/client1.png') }}" alt="Brand Logo Images">
                                </a></li>
                            <li><a href="#">
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/clients/client2.png') }}" alt="Brand Logo Images">
                                </a></li>
                            <li><a href="#">
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/clients/client3.png') }}" alt="Brand Logo Images">
                                </a></li>
                            <li><a href="#">
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/clients/client4.png') }}" alt="Brand Logo Images">
                                </a></li>
                            <li><a href="#">
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/clients/client5.png') }}" alt="Brand Logo Images">
                                </a></li>
                            <li><a href="#">
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/clients/client6.png') }}" alt="Brand Logo Images">
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->

    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="index.html"><img src="{{ app.request.getSchemeAndHttpHost() ~ ':' ~ app.request.getPort() ~ asset('images/logo/footer-logo.svg') }}" alt="Logo"></a>
                            </div>
                            <p>Start building your creative website with our awesome template Massive.</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Pages</h3>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Blog</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>More Links</h3>
                            <ul>
                                <li><a href="#">Topics</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">License</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Support</h3>
                            <ul>
                                <li><a href="#">Cookies</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Support Team</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="left">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                                               target="_blank">GrayGrids</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>
{% endblock %}
