{% extends 'base.html.twig' %}

{% block title %}David Bouscarle Photography{% endblock %}

{% block body %}

    <section class="body__last__work__section">
        <h1 class="body__last__work__section__title">Last Work</h1>
        {% for photograph in photographs %}
            <div class="body__last__work__section__card">
                <h2 class="body__last__work__section__card__title">{{ photograph.name }}</h2>
                <img id="photographLightbox" class="body__last__work__section__card__photograph" src="{{ photograph.file }}" alt="{{ photograph.name }}" />
                <div class="body__last__work__section__card__description">
                    <p class="body__last__work__section__card__text">{{ photograph.description|u.truncate(100, '...', false) }}</p>
                    <p class="body__last__work__section__card__date">{{ photograph.getWasTaken|date('d/m/Y') }}</p>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}